_schema-version: 3.3.0
ID: sap-rfc-connector
version: 1.0.0-alpha.3
description: "Camunda RFC protocol outbound Connector"
parameters:
  enable-parallel-deployments: true
modules:
  - name: sap-rfc-connector
    type: java
    path: ./
    parameters:
      routes:
        - route: ${org}-${space}-${app-name}.${domain}
          protocol: http2
      disk-quota: 2G
      memory: 2G
      enable-ssh: true
      buildpack: sap_java_buildpack_jakarta
      readiness-health-check-type: http
      readiness-health-check-http-endpoint: /actuator/health
    properties:
      USE_JCO: true
      JBP_CONFIG_SAP_MACHINE_JRE: "{ version: 21.+ }"
      SPRING_PROFILES_ACTIVE: cloud

      ZEEBE_CLIENT_CLOUD_CLUSTERID: 'guid'
      ZEEBE_CLIENT_CLOUD_CLIENTID: 'xxx'
      ZEEBE_CLIENT_CLOUD_CLIENT_SECRET: 'yyy'
      ZEEBE_CLIENT_CLOUD_REGION: 'zzz'

      LOGGING_LEVEL_ROOT: INFO # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
      LOGGING_LEVEL_COM_SAP_CLOUD_SDK: DEBUG # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
      LOGGING_LEVEL_IO_CAMUNDA_CONNECTOR_SAP_RFC: DEBUG # any of TRACE, DEBUG, INFO, WARN, ERROR, OFF
      CAMUNDA_CONNECTOR_POLLING_ENABLED: false

    build-parameters:
      builder: custom
      commands:
        - mvn install:install-file -Dfile=sapjco3.jar -DgroupId=com.sap.conn.jco -DartifactId=com.sap.conn.jco.sapjco3 -Dversion=3.1.10 -Dpackaging=jar
        - mvn clean package -DskipTests=true
      build-result: target/rfc-*.jar

    requires:
      - name: destination-instance
      - name: conn-instance

resources:
  - name: destination-instance
    type: org.cloudfoundry.managed-service
    parameters:
      service: destination
      service-plan: lite
  - name: conn-instance
    type: org.cloudfoundry.managed-service
    parameters:
      service: connectivity
      service-plan: lite
