<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty name="connectorsLogAppender" source="connectors.log.appender"
                  defaultValue="default" />

  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
