name: build-and-publish
# - deployment to BTP

on:
  push:
    branches:
      - release/*
    paths:
      # relevant
      - .github/**
      - element-templates/**
      - src/**
      - pom.xml
      # irrelevant
      - "!.idea/**"
      - "!examples/**"
      - "!*.java-version"
      - "!*.example"
      - "!*.md"

jobs:
  build-and-test:
    uses: ./.github/workflows/reusable-build-and-test.yml
    with:
      java-version: '21'
      distribution: 'temurin'
      maven-options: '-PcheckFormat'
#      spring_profile: 'integration-c85-saas'
    secrets: inherit

  build:
    needs: build-and-test
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.scope_version.outputs.VERSION }}

    steps:
      - uses: actions/checkout@v4

      - name: set up jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: build
        run: mvn -B -PcheckFormat package --file pom.xml -DskipTests # as we've run the tests in the previous job

      - name: extract release version
        id: extract_version
        # this extracts <version> from pom.xml into env.VERSION
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: scope the version into an output
        id: scope_version
        run: echo "VERSION=${{ env.VERSION }}" >> "$GITHUB_OUTPUT"

  deploy-to-btp:
    needs: build
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      connector_version: ${{ needs.build.outputs.VERSION }}
      region: 'bru-2'
      cf_api_endpoint: 'https://api.cf.eu10-004.hana.ondemand.com'
      cf_org: camunda-dev
      cf_space: sap-integration-demo
    secrets: inherit